body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
}
#tooltip1 { position: relative; }
#tooltip1 a span { display: none; color: #FFFFFF; }
#tooltip1 a:hover span { display: block; position: absolute; width: 200px; background: #aaa url(images/horses200x50.jpg); height: 150px; left: 100px; top: -10px; color: #FFFFFF; padding: 0 5px; }
.nav{
  background-color: #595959;
  color: #ffffff;
  list-style: none;
  text-align: left;
  padding: 20px 0 20px 0;
}

.nav > li {
  display: inline-block;
  padding-right: 50px;
  padding-left: 50px;
}

.nav > li > a {
  text-decoration: none;
  color: #ffffff;
}

.nav > li > a:hover {
  color: #c1c1c1;
}
h1 {
  padding-left: 50px;
  color: #595959;
}
h2 {
  padding-left: 50px;
  color: #595959;
}
h3 {
  padding-left: 50px;
  color: #595959;
}
h4 {
  padding-left: 50px;
  color: #595959;
}
h5 {
  padding-left: 50px;
  color: #595959;
}
h6 {
  font-size:30px;
  padding-left: 50px;
  color: #595959;
}
p {
  padding-left: 50px;
  color: #595959;
}
.select {
  padding-left: 50px;
  color: #595959;
}


table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
  padding: 100px 50px 50px 50px;
  align-items: center;
}
td {
  border: 1px black solid;
  padding: 5px;
  align-items: center;
}

.form{
  color: #555555;
}


circle.node {
    stroke-width: 80px;
}
.node text {
    font: 10px sans-serif;
    color: #595959;
}


line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;
}

marker#arrow {
    stroke: #999;
    fill: #999;
}
text.label {
  color: #595959;
font: 10px sans-serif;
pointer-events: visibleFill;
}
.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}
textarea {
  box-sizing: border-box;
  padding-left: 50px;
  color: #595959;
}
img{
  align-content: center;
  padding-left: 50px;

}


button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04B486;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #088A68}

button:active {
  background-color: #04B486;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

select{
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #595959;
  background-color: #D8D8D8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
label {
  display: inline-block;
}

output {
  position: absolute;
  background-image: linear-gradient(top, #444444, #999999);
  width: 40px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 0;
  margin-left: -1%;
}
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
.bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: brown;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
